:root.theme-light {
  --bg-color: #F5F5F5;
  --text-color: #353430;
  --title-color: #F5F5F5;
  --accent-color: #FF8DCB;
  --accent-color-alpha: rgba(255, 141, 203, 0.4);
  --bg-image: url('../images/cover-image-light.png');
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #F5F5F5;
    --text-color: #353430;
    --title-color: #F5F5F5;
    --accent-color: #FF8DCB;
    --accent-color-alpha: rgba(255, 141, 203, 0.4);
    --bg-image: url('../images/cover-image-light.png');
  }

  .header__rec {
    display: none;
  }
}