:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --title-color: #353430;
  --accent-color: #FF8DCB;
  --logo-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --decor-color: #353430;
  --decor-color-alpha: rgba(53, 52, 48, 0.4);
  --link-shadow: #FF8DCB;
  --rec-display: none;
  --bg-image: url('../images/cover-image-light.png');
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --title-color: #353430;
    --accent-color: #FF8DCB;
    --logo-color: #FFC2E6;
    --shadow-color: #FF8DCB;
    --decor-color: #353430;
    --decor-color-alpha: rgba(53, 52, 48, 0.4);
    --link-shadow: #FF8DCB;
    --rec-display: none;
    --bg-image: url('../images/cover-image-light.png');
  }
}