:root {
  --font-family-base: 'IBM Plex Mono', monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #000028;
  --accent-color: #FF0070;
  --logo-color: #DB00FF;
  --shadow-color: #FF0070;
  --decor-color: #FF0070;
  --decor-color-alpha: rgba(255, 0, 112, 0.4);
  --rec-display: flex;
  --bg-image: url('../images/cover-image-dark.png');
  --fs-hero: 116px;
}

.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --title-color: #353430;
  --accent-color: #FF8DCB;
  --logo-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --decor-color: #353430;
  --decor-color-alpha: rgba(53, 52, 48, 0.4);
  --rec-display: none;
  --bg-image: url('../images/cover-image-light.png');
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark) {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --title-color: #353430;
    --accent-color: #FF8DCB;
    --logo-color: #FFC2E6;
    --shadow-color: #FF8DCB;
    --decor-color: #353430;
    --decor-color-alpha: rgba(53, 52, 48, 0.4);
    --rec-display: none;
    --bg-image: url('../images/cover-image-light.png');
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.page {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow);
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.3s ease;
}

a:hover {
  border-bottom-color: var(--text-color);
}

a:focus-visible {
  outline: none;
  border: 1px solid var(--text-color);
}

.header, 
.footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  padding: 10px;
}

.header__theme-menu {
  position: absolute;
  top: 75px;
  right: 10px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button {
  appearance: none;
  background: transparent;
  border: 1px solid transparent;
  color: var(--decor-color);
  font-family: var(--font-family-base);
  font-size: 18px;
  line-height: 18px;
  padding: 0 13px;
  height: 26px;
  text-transform: lowercase;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.header__theme-menu-button:hover {
  border-color: var(--decor-color-alpha);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom-color: var(--decor-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border-color: var(--decor-color);
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--decor-color);
  display: var(--rec-display);
  align-items: center;
  gap: 10px;
  line-height: 1;
}

.header__rec::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decor-zone::before, 
.decor-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--decor-color);
  pointer-events: none;
}

.decor-zone::before {
  top: 10px;
  right: 10px;
  border-bottom: none;
  border-left: none;
}

.decor-zone::after {
  bottom: 20px;
  left: 10px;
  border-top: none;
  border-right: none;
}

.header__title {
  margin-top: 228px;
  width: 100%;
  max-width: 355px;
  font-size: var(--fs-hero);
  color: var(--logo-color);
  font-weight: var(--font-weight-bold);
  line-height: 83%;
  letter-spacing: 0;
  word-spacing: -20px;
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__description {
  margin-top: 55px;
  width: 100%;
  max-width: 355px;
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 355px;
  margin-top: 50px;
}

.section.reasons {
  margin-top: 0;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__title {
  color: var(--decor-color);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  margin-bottom: 20px;
}

.gallery .section__title {
  background-color: var(--accent-color);
  color: var(--title-color);
  display: inline-flex;
  align-self: flex-start;
  padding: 0 4px;
  margin-bottom: 20px;
}

.card__title {
  display: inline-flex;
  align-self: flex-start;
  padding: 0 4px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  background-color: var(--accent-color);
  color: var(--title-color);
}

.card__subtitle {
  display: inline-flex;
  align-self: flex-start;
  padding: 0 4px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  background-color: var(--accent-color);
  color: var(--title-color);
}

.card__title_fw-normal {
  font-weight: var(--font-weight-regular);
}

.card__text {
  font-size: 18px;
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
}

.gallery__grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery__grid img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.gallery__grid img:nth-child(1) {
  height: 142px;
}

.gallery__grid img:nth-child(2) {
  height: 355px;
}

.gallery__grid img:nth-child(3) {
  height: 237px;
}

.gallery__grid img:nth-child(4) {
  height: 355px;
}

.gallery__grid img:nth-child(5) {
  height: 237px;
}

.footer {
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer__title {
  font-size: var(--fs-hero);
  color: var(--logo-color);
  font-weight: var(--font-weight-bold);
  line-height: 83%;
  letter-spacing: 0;
  word-spacing: -20px;
  text-shadow: 2px 2px 0 var(--shadow-color);
  margin: 0;
}

@media (min-width: 768px) {
  :root {
    --fs-hero: 120px;
  }

  .header {
    padding: 20px;
  }

  .header__theme-menu {
    top: 192px;
    right: 20px;
  }

  .header__rec {
    top: 20px;
    right: 29px;
  }

  .decor-zone::before {
    top: 20px;
    right: 20px;
  }

  .decor-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__title {
    margin-top: 443px;
    max-width: 576px;
  }

  .header__description {
    margin-top: 162px;
    align-self: flex-end;
    max-width: 364px;
  }

  .main-content {
    padding: 0 20px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .section {
    max-width: 728px;
    margin: 0 auto;
    margin-top: 80px;
  }

  .section.reasons {
    margin-top: 0;
  }

  .reasons, 
  .tips {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }

  .reducers .section__title {
    max-width: 236px;
  }

  .gallery__grid {
    display: grid;
    grid-template-columns: 229px 230px 229px;
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  /* ЖЕСТКИЙ СБРОС ВЫСОТЫ, ЧТОБЫ ПЕРЕБИТЬ МОБИЛКУ */
  .gallery__grid img:nth-child(1),
  .gallery__grid img:nth-child(2),
  .gallery__grid img:nth-child(3),
  .gallery__grid img:nth-child(4),
  .gallery__grid img:nth-child(5) {
    height: 100%;
  }

  .gallery__grid img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__grid img:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__grid img:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__grid img:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__grid img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  :root {
    --fs-hero: 157px;
  }

  .header__theme-menu {
    top: 20px;
    left: 397px;
    right: auto;
  }

  .theme-menu__list {
    flex-direction: row;
  }

  .header__theme-menu-button {
    width: auto;
  }

  .header__title {
    margin-top: 298px;
    max-width: 759px;
  }

  .header__description {
    margin-top: 114px;
    max-width: 491px;
  }

  .section {
    max-width: 984px;
  }

  .reasons, 
  .tips {
    grid-template-columns: 315px 1fr;
  }

  .reducers .section__title {
    max-width: 315px;
  }

  .reducers .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__grid {
    grid-template-columns: 315px 315px 314px;
    grid-template-rows: 260px 315px 433px;
  }
}