:root {
  --font-family-base: 'IBM Plex Mono', monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #000028;
  --accent-color: #FF0070;
  --accent-color-alpha: rgba(255, 0, 112, 0.4);
  --bg-image: url('../images/cover-image-dark.png'); 

  --fs-hero: 116px; 
}

body.page {
  position: relative;
  min-height: 6771px; 
}

.header {
  display: block;
  position: relative;
  height: 668px; 
  padding: 0;
}

.header__theme-menu {
  position: absolute;
  top: 75px;
  right: 10px; 
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
}

.header__title {
  display: block;
  position: absolute;
  top: 238px;
  left: 10px;
  width: 355px; 
  margin: 0;
  padding: 0;
  font-size: var(--fs-hero);
  color: #DB00FF; 
  font-weight: var(--font-weight-bold);
  line-height: 83%;
  letter-spacing: -4px;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  position: absolute;
  top: 485px;
  left: 10px;
  width: 355px;
  height: 117px;
  margin: 0;
  padding: 15px 10px; 
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 19px; 
  color: var(--accent-color);
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1;
}

.header__rec::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decor-zone::before,
.decor-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.decor-zone::before {
  top: 10px;
  right: 10px;
  border-bottom: none;
  border-left: none;
}

.decor-zone::after {
  bottom: 20px;
  left: 10px;
  border-top: none;
  border-right: none;
}

.main-content {
  display: block;
  padding: 0; 
}

.section {
  position: absolute;
  left: 10px;
  width: 355px;
  margin: 0;
}

.section.reasons { top: 708px; }   
.section.reducers { top: 1707px; } 
.section.tips { top: 2876px; }     
.section.gallery { top: 4663px; }  

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__title {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.reasons .section__title {
  height: 47px;
  margin-bottom: 20px;
}

.reducers .section__title {
  height: 47px;
  margin-bottom: 10px; 
}

.tips .section__title {
  height: 70px;
  margin-bottom: 20px; 
}

.gallery .section__title {
  height: 24px;
  background-color: var(--accent-color);
  color: var(--title-color);
  display: flex;
  align-items: center;
  padding: 0 4px;
  margin-bottom: 20px;
}

.card__title {
  height: 23px;
  display: flex;
  align-items: center;
  padding: 0 4px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.card__subtitle {
  height: 47px;
  display: flex;
  align-items: center;
  padding: 0 4px;
  margin: 0; 
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  background-color: var(--accent-color); 
  color: var(--title-color); 
}

.card__text {
  font-size: 18px;
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
}

.card__title_fw-normal {
  font-weight: var(--font-weight-regular);
}

.gallery__grid {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.gallery__grid img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.gallery__grid img:nth-child(1) { height: 142px; }
.gallery__grid img:nth-child(2) { height: 355px; }
.gallery__grid img:nth-child(3) { height: 237px; }
.gallery__grid img:nth-child(4) { height: 355px; }
.gallery__grid img:nth-child(5) { height: 237px; }

.footer {
  display: block;
  position: absolute;
  top: 6103px; 
  left: 0;
  height: 668px;
  width: 100%;
  padding: 0;
}

.footer__title {
  position: absolute;
  top: 286px;
  left: 14px;
  margin: 0;
  padding: 0;
  font-size: var(--fs-hero);
  color: #DB00FF; 
  font-weight: var(--font-weight-bold);
  line-height: 83%;
  letter-spacing: -4px;
  text-shadow: 2px 2px 0 var(--accent-color);
}


@media (min-width: 768px) {
  :root {
    --fs-hero: 120px;
  }

  body.page {
    min-height: 5850px; 
  }

  .header {
    height: 1024px;
  }
  
  .header__theme-menu {
    top: 192px;
    right: 20px;
  }

  .theme-menu__list {
    gap: 4px;
  }

  .header__title {
    top: 463px;
    left: 20px;
    width: 576.84px;
  }

  .header__description {
    top: 724px;
    left: 384px;
    width: 364px;
    height: 117px;
    padding: 0 10px; 
  }

  .header__rec {
    top: 20px;
    right: 29px;
  }

  .decor-zone::before { top: 20px; right: 20px; }
  .decor-zone::after { bottom: 20px; left: 20px; }

  .section {
    left: 20px; 
    width: 728px;
  }

  .section.reasons { top: 1084px; }
  .section.reducers { top: 1812px; }
  .section.tips { top: 2567px; }
  .section.gallery { top: 3943px; }

  .footer {
    top: 4826px;
    height: 1024px;
  }

  .footer__title {
    top: 463px;
    left: 204px;
    width: 360px;
    text-shadow: 2px 2px 0 var(--accent-color);
  }

  .reasons, .tips {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }
  
  .section__title {
    height: auto;
    margin-bottom: 0;
  }

  .reducers .section__title {
    width: 236px;
    margin-bottom: 10px;
  }

  .gallery .section__title {
    height: 24px;
    margin-bottom: 0;
  }

  .card__subtitle {
    height: 23px;
  }

  .reducers .section__content {
    display: flex;
  }

  .gallery__grid {
    display: grid;
    grid-template-columns: 229px 230px 229px;
    grid-template-rows: 192px 230px 318px; 
    gap: 20px;
    margin-top: 20px;
  }

  .gallery__grid img:nth-child(n) { height: 100%; }

  .gallery__grid img:nth-child(1) { grid-column: 1 / 3; grid-row: 1 / 2; }
  .gallery__grid img:nth-child(2) { grid-column: 3 / 4; grid-row: 1 / 3; }
  .gallery__grid img:nth-child(3) { grid-column: 1 / 2; grid-row: 2 / 4; }
  .gallery__grid img:nth-child(4) { grid-column: 2 / 3; grid-row: 2 / 3; }
  .gallery__grid img:nth-child(5) { grid-column: 2 / 4; grid-row: 3 / 4; }
}


@media (min-width: 1024px) {
  
  :root {
    --fs-hero: 157px; 
  }

  body.page {
    min-height: 5008px;
  }

  .header {
    height: 768px;
  }
  
  .header__theme-menu {
    top: 20px;
    left: 397px;
    right: auto;
  }

  .theme-menu__list {
    flex-direction: row; 
    gap: 14px;
  }

  .header__theme-menu-button {
    width: auto;
  }
  
  .header__title {
    top: 318px;
    left: 20px;
    width: 759px;
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .header__description {
    top: 563px;
    left: 513px;
    width: 491px;
    height: 70px;
    padding: 0 15px; 
  }

  .section {
    width: 984px;
  }

  .section.reasons { top: 828px; }
  .section.reducers { top: 1416px; }
  .section.tips { top: 1994px; }
  .section.gallery { top: 3089px; }

  .footer {
    top: 4240px;
    height: 768px;
  }

  .footer__title {
    top: 318px;
    left: 277px;
    width: 471px;
  }

  .reasons, .tips {
    grid-template-columns: 315px 1fr;
  }
  
  .reducers .section__title {
    width: 315px;
    margin-bottom: 0;
  }

  .reducers .section__content {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__grid {
    grid-template-columns: 315px 315px 314px;
    grid-template-rows: 260px 315px 433px; 
    margin-top: 10px;
  }
}